---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout  userRole="freelance">

<div class="max-w-3xl mx-auto">

<form id="serviceForm" class="space-y-6 bg-slate-900 p-8 rounded-xl border border-slate-800">

  <!-- Titulo -->
  <div>
    <label class="block text-sm mb-2">Título del servicio</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Ej: Desarrollo de API REST con Laravel"
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
      required
    />
  </div>

  <!-- Descripción -->
  <div>
    <label class="block text-sm mb-2">Descripción</label>
    <textarea
      id="description"
      name="description"
      rows="4"
      placeholder="Describe que incluye tu servicio..."
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
      required
    ></textarea>
  </div>

  <!-- Categoria -->
  <div>
    <label class="block text-sm mb-2">Categoría</label>

    <select
      id="category_id"
      name="category_id"
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
    >
      <option value="1">Desarrollo Web</option>
      <option value="2">Desarrollo Móvil</option>
      <option value="3">Diseño Gráfico</option>
      <option value="4">Marketing Digital</option>
      <option value="5">Redacción y Traducción</option>
      <option value="6">Edición de Video</option>
      <option value="7">Soporte TI</option>
    </select>
  </div>

  <!-- Precio -->
  <div>
    <label class="block text-sm mb-2">Precio (COP)</label>
    <input
      type="number"
      id="price"
      name="price"
      placeholder="450000"
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
      required
    />
  </div>

  <!-- Tiempo entrega -->
  <div>
    <label class="block text-sm mb-2">Tiempo de entrega (días)</label>
    <input
      type="number"
      id="delivery_time"
      name="delivery_time"
      placeholder="7"
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
      required
    />
  </div>

  <!-- Revisiones -->
  <div>
    <label class="block text-sm mb-2">Revisiones</label>
    <input
      type="number"
      id="revisions"
      name="revisions"
      placeholder="2"
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
      required
    />
  </div>
  
  <!-- Requisitos -->
  <div>
    <label class="block text-sm mb-2">Requisitos del cliente</label>
    <textarea
      id="requirements"
      rows="3"
      name="requirements"
      placeholder="Ej: Comparte alcance del proyecto..."
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 focus:outline-none focus:border-purple-500"
    ></textarea>
  </div>
  <div>
    <label class="block text-sm mb-2">Foto de portada (Obligatoria)</label>
    <input
      type="file"
      id="photo"
      name="photo"
      accept="image/png, image/jpeg, image/webp"
      class="w-full bg-slate-800 border border-slate-700 rounded-lg px-4 py-3 text-slate-300 focus:outline-none focus:border-purple-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-purple-600 file:text-white hover:file:bg-purple-700 transition"
      required
    />
  </div>

  <!-- Botón -->
  <button
    type="submit" 
    class="w-full bg-purple-600 hover:bg-purple-700 transition py-3 rounded-lg font-semibold"
  >
  
    Publicar Servicio
  </button>

</form>

</div>

<script>
  const createService = document.getElementById('serviceForm');
  
  createService?.addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const formdata = new FormData(createService);
    const token = localStorage.getItem('token');
    
    try{
      const response = await fetch('http://127.0.0.1:8000/api/services', {
        method: 'POST',
        headers: {
          'authorization': `Bearer ${token}`,
          'Accept': 'application/json',
        },
        body: formdata
      })
      const data = await response.json();
      console.log(data);
      if (response.ok) {
        window.appToast("Servicio creado con exito.", { tone: "success" });
        window.location.href = 'da'
      }
      else{
        window.appToast("Datos incorrectos.", { tone: "error" });
      }
      }

    catch(error){
      console.log('error', error)
    }  
    })
    
</script>

</DashboardLayout>

