---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";


---

<DashboardLayout title="Editar Servicio" userRole="freelance">

<div class="max-w-3xl mx-auto bg-slate-900 border border-slate-800 rounded-2xl p-8">

  <h2 class="text-xl font-semibold mb-6">
    Editar Servicio
  </h2>

  <form id="editServiceForm" class="space-y-6">

    <input type="hidden" id="serviceId" value=id />

   
    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Título del servicio
      </label>
      <input
        name="title"
        id="title"
        type="text"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      />
    </div>
    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Descripción
      </label>
      <textarea
        name="description"
        id="description"
        rows="4"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      ></textarea>
    </div>

   
    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Categoría
      </label>

      <select
        id="category_id"
        name="category_id"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      >
        <option value="1">Desarrollo Web</option>
        <option value="2">Desarrollo Móvil</option>
        <option value="3">Diseño Gráfico</option>
        <option value="4">Marketing Digital</option>
        <option value="5">Redacción y Traducción</option>
        <option value="6">Edición de Video</option>
        <option value="7">Soporte TI</option>
      </select>
    </div>


    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Precio
      </label>
      <input
        id="price"
        name="price"
        type="number"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      />
    </div>

    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Días de entrega
      </label>
      <input
        name="delivery_time"
        id="delivery_time"
        type="number"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      />
    </div>

  
    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Revisiones
      </label>
      <input
        name="revisions"
        id="revisions"
        type="number"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      />
    </div>
    <div>
      <label class="block text-sm text-slate-400 mb-2">
        photo
      </label>
      <input
        id="photo"
        name="photo"
        type="file"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      />
    </div>

   
    <div>
      <label class="block text-sm text-slate-400 mb-2">
        Requisitos del cliente
      </label>
      <textarea
        name="requirements"
        id="requirements"
        rows="3"
        class="w-full bg-slate-800 border border-slate-700 rounded-xl p-3"
      ></textarea>
    </div>

    <button
      type="submit"
      class="w-full bg-purple-600 hover:bg-purple-700 transition py-3 rounded-xl font-semibold"
    >
      Actualizar servicio
    </button>

  </form>

</div>

<script>
  const form = document.getElementById('editServiceForm');
  const token = localStorage.getItem('token');
  const parametros = new URLSearchParams(window.location.search);
  const serviceId= parametros.get('id');
  if (!token) {
    window.location.href = ('/login')
  }
  form?.addEventListener('submit', async (e)=>{
    e.preventDefault();
    try {
      const formdata = new FormData(form);
      formdata.append('_method', 'put');
      const response = await fetch(`http://127.0.0.1:8000/api/services/${serviceId}`,{
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Authorization': `Bearer ${token}`,
        },
        body: formdata
      });
      const data = await response.json();
      console.log(data);
    } catch (error) {
      console.log(error)
    }

  })
</script>

</DashboardLayout>


