---
// src/pages/dashboard/freelance/seguimiento.astro
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout userRole="freelance">
  <div class="max-w-7xl mx-auto" id="contenedor-ordenes">
    <p class="text-slate-400 text-center py-10 text-lg">Cargando tus pedidos...</p>
  </div>

  <script type="module" src="/src/js/freelance/seguimiento.js"></script>
</DashboardLayout>
