---
// import { redirect } from "astro:redirect";

/*
Aquí normalmente obtienes el usuario desde
la sesión o token.

Ejemplo temporal simulando la BD
*/

const user = {
  role_id: 1 // 1 usuario | 2 freelancer | 3 empresa | 4 admin
};

if (!user) {
  return redirect("/login");
}

switch (user.role_id) {

  case 1:
    return redirect("/dashboard/cliente");

  case 2:
    return redirect("/dashboard/freelance");

  case 3:
    return redirect("/dashboard/company");

  case 4:
    return redirect("/dashboard/admin");

  default:
    return redirect("/");
}
---

<h1>Redirigiendo...</h1>