---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Reportes de usuarios" userRole="admin">
  <div class="grid md:grid-cols-3 gap-6">
    <div class="bg-slate-900 border border-slate-800 p-6 rounded-xl">
      <p class="text-slate-400">Usuarios totales</p>
      <p class="text-3xl font-bold">1284</p>
    </div>

    <div class="bg-slate-900 border border-slate-800 p-6 rounded-xl">
      <p class="text-slate-400">Freelancers</p>
      <p class="text-3xl font-bold">342</p>
    </div>

    <div class="bg-slate-900 border border-slate-800 p-6 rounded-xl">
      <p class="text-slate-400">Empresas</p>
      <p class="text-3xl font-bold">120</p>
    </div>
  </div>
</DashboardLayout>