---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import '../styles/global.css'; 

---

<MainLayout title="Bienvenid@s">
  <div class="flex justify-center items-center min-h-screen text-center text-5xl font-bold">
    
    <div class="bg-amber-50 rounded-2xl shadow-2xl max-w-2xl w-full p-8 md:p-12 bg-center">
      <Hero title="Bienvenid@s"
      subtitle="Dispuestos a trabajar para ti">
      
     <a 
      id="btn-register"
      href="/Register"
      class="inline-block px-12 py-5 text-xl font-bold bg-white text-[#082472] border-2 border-[#0b3dc7] rounded-xl shadow-xl hover:bg-[#f0f9ff] hover:border-[#1d4ed8] hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2 focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50">
      Registrate
    </a>

    <a 
      id="btn-login"
      href="/Login"
      class="inline-block px-12 py-5 text-xl font-bold bg-white text-[#082472] border-2 border-[#0b3dc7] rounded-xl shadow-xl hover:bg-[#f0f9ff] hover:border-[#1d4ed8] hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2 focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50">
      Iniciar sesión
    </a>
    </Hero>
</MainLayout>

<script src="/src/scripts/home.js"></script>