---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Editar empresa" userRole="company">

<form class="bg-slate-900 p-8 rounded-xl space-y-4">

<input
placeholder="Nombre"
class="w-full p-3 bg-slate-800 rounded"
/>

<input
placeholder="Apellido"
class="w-full p-3 bg-slate-800 rounded"
/>

<input
placeholder="Teléfono"
class="w-full p-3 bg-slate-800 rounded"
/>

<input
placeholder="NIT"
class="w-full p-3 bg-slate-800 rounded"
/>

<input
placeholder="Dirección"
class="w-full p-3 bg-slate-800 rounded"
/>

<input
placeholder="Website"
class="w-full p-3 bg-slate-800 rounded"
/>

<button
class="bg-purple-600 px-6 py-2 rounded-lg"
>
Guardar cambios
</button>

</form>

</DashboardLayout>