---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Freelancer" userRole="company">

<div class="bg-slate-900 p-8 rounded-xl">

<h2 class="text-xl font-bold">
Sara Lopez
</h2>

<p class="text-slate-400">
Fullstack Developer
</p>

</div>

</DashboardLayout>