---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Notificaciones" userRole="company">

<div class="space-y-4">

<div class="bg-slate-900 p-4 rounded">
Orden entregada
</div>

<div class="bg-slate-900 p-4 rounded">
Nuevo mensaje
</div>

<button class="bg-purple-600 px-5 py-2 rounded-lg">
Marcar todas como leídas
</button>

</div>

</DashboardLayout>