---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";

const notifications = [
{type:"orden",msg:"Tu orden fue aceptada"},
{type:"entrega",msg:"Servicio entregado"},
{type:"mensaje",msg:"Nuevo mensaje del freelancer"}
];
---

<DashboardLayout  userRole="company">

<div class="space-y-4">

{notifications.map(n => (

<div class="bg-slate-900 p-5 rounded-xl flex justify-between">

<p>{n.msg}</p>

<span class="text-purple-400 capitalize">

{n.type}

</span>

</div>

))}

</div>

</DashboardLayout>