---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Detalle orden" userRole="company">

<div class="bg-slate-900 p-8 rounded-xl">

<p>Estado: En progreso</p>

<button class="bg-green-600 px-5 py-2 rounded-lg mt-4">
Completar orden
</button>

<button class="bg-red-600 px-5 py-2 rounded-lg mt-4 ml-3">
Cancelar
</button>

</div>

</DashboardLayout>