---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Órdenes" userRole="company">

<a
href="/dashboard/company/orden-detalle"
class="block bg-slate-900 p-6 rounded-xl"
>

Orden #1201
<p class="text-purple-400">
Ver detalle
</p>

</a>

</DashboardLayout>