---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout  userRole="company">
    <form class="bg-slate-900 p-8 rounded-xl max-w-xl space-y-6">
        <h2 class="text-xl font-bold">
            Calificar servicio
        </h2>
        <div>
            <label>Estrellas</label>
            <select class="w-full bg-slate-800 p-3 rounded">

<option>⭐⭐⭐⭐⭐</option>
<option>⭐⭐⭐⭐</option>
<option>⭐⭐⭐</option>
<option>⭐⭐</option>
<option>⭐</option>
</select>

</div>

<div>

<label>Comentario</label>

<textarea
class="w-full bg-slate-800 p-3 rounded h-32">
</textarea>

</div>

<button class="bg-purple-600 px-6 py-2 rounded-lg">

Enviar review

</button>

</form>

</DashboardLayout>