---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Reviews" userRole="company">

<div class="bg-slate-900 p-6 rounded-xl">

<p class="text-yellow-400">
⭐⭐⭐⭐⭐
</p>

<p class="text-slate-300">
Excelente trabajo
</p>

</div>

</DashboardLayout>