---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Servicios" userRole="company">

<div class="grid md:grid-cols-3 gap-6">

<a href="/dashboard/company/servicio-detalle"
class="bg-slate-900 p-6 rounded-xl">

<h3 class="font-bold">
SEO Profesional
</h3>

<p class="text-purple-400">
$300
</p>

</a>

</div>

</DashboardLayout>