---
import DashboardLayout from "../../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Servicio" userRole="company">

<div class="bg-slate-900 p-8 rounded-xl">

<h2 class="text-2xl font-bold mb-4">
Landing Page Profesional
</h2>

<p class="text-slate-400 mb-6">
Servicio de desarrollo web
</p>

<a
href="/dashboard/company/freelancer"
class="text-purple-400 underline"
>
Ver freelancer
</a>

<button
class="block mt-6 bg-purple-600 px-6 py-2 rounded-lg"
>
Contratar servicio
</button>

</div>

</DashboardLayout>