---
interface Props {
  title: string;
  subtitle: string;
  background?: string;  // ruta opcional de la imagen de fondo
}

const { title, subtitle, background = '/assets/background.jpg' } = Astro.props; // pon tu ruta por defecto
---

<!-- <section class="relative min-h-[80vh] flex items-center justify-center text-white overflow-hidden">
  Imagen de fondo 
  <img 
    src={background} 
    alt="Fondo hero" 
    class="absolute inset-0 w-full h-full object-cover z-0"
    fetchpriority="high"
  /> -->

 
  <div class="absolute inset-0 bg-black/40 z-10"></div>


  <div class=" ">
    <h1 class="text-5xl md:text-7xl font-extrabold mb-6 leading-tight drop-shadow-lg">
      {title}
    </h1>
    
    <p class="text-xl md:text-3xl mb-12 max-w-3xl mx-auto opacity-95 drop-shadow-md">
      {subtitle}
    </p>


    <div class="flex flex-col sm:flex-row gap-6 md:gap-10 justify-center">
      <slot />
    </div>
  </div>
</section>