

<div class="bg-slate-900 border border-slate-800 rounded-xl p-6">
    <h3 class="text-lg font-semibold mb-4">
        Contenido
    </h3>
    <ul class="space-y-3 text-sm">
        <li>
            <a href="#compromiso" class="text-slate-300 hover:text-purple-400 transition">
                Nuestro compromiso
            </a>
        </li>
        <li>
            <a href="#calidad" class="text-slate-300 hover:text-purple-400 transition">
                Calidad del servicio
            </a>
        </li>

        <li>
            <a href="#experiencia" class="text-slate-300 hover:text-purple-400 transition">
            Experiencia del usuario
            </a>
        </li>

        <li>
            <a href="#mejoras" class="text-slate-300 hover:text-purple-400 transition">
            Mejora continua
            </a>
        </li>

    </ul>

</div>